h1 {
	text-align: center;
}
body {
	background-color: #999966;
	font-family: Arial, Helvetica, sans-serif;
}
#accountBanner {
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	background-color: #D6D6C2;
	padding: 5px;
	padding-top: 1px;
	border: 1px black dashed;
}
#accountBanner  h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}
#rightSide {
	width: 20%;
	display:inline-block;
	text-align: right;
	margin-right: auto;
	float:right;
}
#topBanner {
	text-align: center;
	background-color: #D6D6C2;
	margin-top: 7px;
	margin-bottom: 7px;
	height: 60px;
}
#topBanner h1 {
	margin-left: auto;
	margin-right: auto;
	background-color: #D6D6C2;
	margin-top: auto;
	margin-bottom: auto;
	width: 80%;
	text-align: center;
	display: inline-block;
}
.homeIcon {
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	padding-bottom: 5px;
}
.homeIcon img {
	height: 50px;
	width: 50px;
}
#mainBody {
	display: inline-block;
	width: 70%;
	height: 80%;
	background-color: #D6D6C2;
	vertical-align: top;
	margin-left: 5%;
	margin-right: auto;
}
#mainBody h3{
	text-align: center;
}
#search{
	display: inline-block;
	width: 100%;
}
.formInfo{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float:left;
	border: 1px black solid;
	width: 125px;
	padding-bottom: 5px;
	text-align: center;
}
#search form>div {
	background-color: gray;
	margin-bottom: 3%;
}

#search form>div:first-child {
	margin-left: 9%;
	margin-right: 2%;
	width: auto;
}
#search form>div:nth-child(2) {
	margin-left: 2%;
	margin-right:2%;
	width: auto;
}
#search form>div:nth-child(3) {
	margin-left: 2%;
	margin-right: 2%;
	width: auto;
}
#search form>div:nth-child(4) {
	margin-left: 2%;
	margin-right: 2%;
	width: auto;
}
#search form>div:nth-child(5) {
	margin-left: 2%;
	margin-right: 9%;
	width: auto;
}
.searchLabels{
	padding-left: 2px;
	padding-right: 2px;
	font-family: Tahoma;
}
#radioButton{
}

